<!DOCTYPE html>
<html>
<head>
  <title>Edit Employees</title>
</head>
<body>
  <h1>Edit Employees</h1>
  <form action="/employees/<%= employee.id %>" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="<%= employee.last_name %>">
    <input type="text" id="name" name="name" value="<%= employee.first_name %>">

    <label for="salary">Salary:</label>
    <input type="number" id="salary" name="salary" value="<%= employee.salary %>">
    
    <label for="text">Phone:</label>
    <input type="text" id="phone_number" name="phone_number" value="<%= employee.phone_number %>">

    <label for="text">Email:</label>
    <input type="text" id="email" name="email" value="<%= employee.email %>">
    <button type="submit">Update</button>
  </form>
</body>
</html>

