<!DOCTYPE html>
<html>

<head>
    <title>Details</title>
</head>

<body>
    <p>Name: <%= employee.last_name %> - <%= employee.first_name %>
    </p>
    <p>Email: <%= employee.email %>
    </p>
    <p>Salary: <%= employee.salary %>
    </p>
    <p>Phone: <%= employee.phone_number %>
    </p>
    <p>Birthday: <%= employee.hire_date %>
    </p>
    <p>Job: <%= employee.job_title %>
    </p>
    <p>Department: <%= department.name %>
    </p>
    <a href="/employees">Back</a>
</body>

</html>